.breadcrumb {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 60px;
}

.back-link {
  cursor: pointer;
  font-size: 15px;
  color: #000000;
  font-weight: 600;
  display: flex;
  gap: 3px;
  text-decoration: underline;
}

.breadcrumb-links a {
  text-decoration: none;
  color: #1c1c1d;
  text-decoration: underline;
  margin-left: 10px;
  

}

.breadcrumb-links {
  font-size: 14px;
}

@media (max-width: 768px) {
  .breadcrumb {
    display: none;
  }
}