*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'AdihausDIN', Arial, Helvetica, sans-serif;
}
.product-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 0px;
    padding: 20px 60px;
    row-gap: 3px;
  }